---
import MainLayout from "@/layouts/MainLayout.astro";
import { Content as GetStartedContent } from "@/content/get_started.md";
import { SITE } from "@data/constants";
import "@/assets/styles/custom.css";

const pageTitle: string = `Get Started | ${SITE.title}`;
---

<MainLayout title={pageTitle}>
  <section
    class="mx-auto flex max-w-[85rem] flex-col px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <article class="prose dark:prose-invert lg:prose-xl mx-auto">
      <GetStartedContent />
    </article>
  </section>
</MainLayout>
