# Copy this file to ".env" and adjust values as needed.
# docker-compose will automatically read .env in the same folder.

# Scope configuration (space- or comma-separated)
OPSFOLIO_EAA_HOME=/opt/eaa/sessions
OPSFOLIO_EAA_TENANT_ID=XYZ1234 (must include)
OPSFOLIO_EAA_TENANT_NAME=XYZ (must include)
OPSFOLIO_EAA_DOMAINS=example.com (must include)
OPSFOLIO_EAA_SUBDOMAINS=sub.example.com or leave a blank space
OPSFOLIO_EAA_IP_RANGES= 192.168.0.1/32 or leave a blank space
OPSFOLIO_EAA_EXCLUDES=sub1.example.com or leave a blank space 
OPSFOLIO_EAA_KEY_URLS=https://example.com (must include)
OPSFOLIO_EAA_RATE_LIMIT=200
OPSFOLIO_EAA_CONCURRENCY=50
OPSFOLIO_EAA_NAABU_PORTS=top-100
OPSFOLIO_EAA_NUCLEI_TEMPLATES=cves,default
