  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    font-weight: bold;
    margin-top: 2rem;
    scroll-margin-top: 2.5rem;
  }
   h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;

  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  p {
    margin-top: 1.5rem;
  }
  ul {
    list-style: disc;
    padding-left: 20px;
    margin: 1rem 0;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }
  a {
    color: #b73d00;
  }
  a:hover {
    color: #ae8a5e;
  }